<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
	"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">

<!--
	AppleScript language syntax
	Copyright 2014 Andrew Carter
-->

<dict>
	<key>BBEditDocumentType</key>
	<string>CodelessLanguageModule</string>	
	<key>BBLMLanguageDisplayName</key>
	<string>Tinderbox1</string>
	<key>BBLMLanguageCode</key>
	<string>Tbxx</string>
	<key>BBLMColorsSyntax</key>
	<true/>
	<key>BBLMSupportsTextCompletion</key>
	<true/>
	<key>BBLMScansFunctions</key>
	<true/>
	<key>BBLMCanSpellCheckCodeRuns</key>
	<false/>
	<key>BBLMIsCaseSensitive</key>
	<true/>	
	
	<key>BBLMKeywordList</key>
	<array>
		<string>about</string>
		<string>above</string>
		<string>after</string>
		<string>against</string>
		<string>and</string>
		<string>apart from</string>
		<string>around</string>
		<string>as</string>
		<string>aside from</string>
		<string>at</string>
		<string>back</string>
		<string>before</string>
		<string>beginning</string>
		<string>behind</string>
		<string>below</string>
		<string>beneath</string>
		<string>beside</string>
		<string>between</string>
		<string>but</string>
		<string>by</string>
		<string>considering</string>
		<string>contain</string>
		<string>contains</string>
		<string>continue</string>
		<string>copy</string>
		<string>div</string>
		<string>does</string>
		<string>eighth</string>
		<string>else</string>
		<string>end</string>
		<string>equal</string>
		<string>equals</string>
		<string>error</string>
		<string>every</string>
		<string>exit</string>
		<string>false</string>
		<string>fifth</string>
		<string>first</string>
		<string>for</string>
		<string>fourth</string>
		<string>from</string>
		<string>front</string>
		<string>get</string>
		<string>given</string>
		<string>global</string>
		<string>if</string>
		<string>ignoring</string>
		<string>in</string>
		<string>instead of</string>
		<string>into</string>
		<string>is</string>
		<string>it</string>
		<string>its</string>
		<string>last</string>
		<string>local</string>
		<string>me</string>
		<string>middle</string>
		<string>mod</string>
		<string>my</string>
		<string>ninth</string>
		<string>not</string>
		<string>of</string>
		<string>on</string>
		<string>onto</string>
		<string>or</string>
		<string>out of</string>
		<string>over</string>
		<string>prop</string>
		<string>property</string>
		<string>put</string>
		<string>ref</string>
		<string>reference</string>
		<string>repeat</string>
		<string>return</string>
		<string>returning</string>
		<string>script</string>
		<string>second</string>
		<string>set</string>
		<string>seventh</string>
		<string>since</string>
		<string>sixth</string>
		<string>some</string>
		<string>tell</string>
		<string>tenth</string>
		<string>that</string>
		<string>the</string>
		<string>then</string>
		<string>third</string>
		<string>through</string>
		<string>thru</string>
		<string>timeout</string>
		<string>times</string>
		<string>to</string>
		<string>transaction</string>
		<string>true</string>
		<string>try</string>
		<string>until</string>
		<string>use</string>
		<string>where</string>
		<string>while</string>
		<string>whose</string>
		<string>with</string>
		<string>without</string>
	</array>
	
	<key>BBLMPredefinedNameList</key>
	<array>
		<string>$Abstract</string>
		<string>$AccentColor</string>
		<string>$AccessDate</string>
		<string>$Address</string>
		<string>$AdornmentCount</string>
		<string>$AdornmentFont</string>
		<string>$AgentAction</string>
		<string>$AgentCaseSensitive</string>
		<string>$AgentPriority</string>
		<string>$AgentQuery</string>
		<string>$Aliases</string>
		<string>$Antonym</string>
		<string>$ArticleTitle</string>
		<string>$Associates</string>
		<string>$Author2</string>
		<string>$Author3</string>
		<string>$Author4</string>
		<string>$Authors</string>
		<string>$AutoFetch</string>
		<string>$AutoFetchCommand</string>
		<string>$autor</string>
		<string>$aXpos</string>
		<string>$aYpos</string>
		<string>$Badge</string>
		<string>$BadgeMonochrome</string>
		<string>$BadgeSize</string>
		<string>$Base</string>
		<string>$BeforeVisit</string>
		<string>$Bend</string>
		<string>$BookTitle</string>
		<string>$Border</string>
		<string>$BorderBevel</string>
		<string>$BorderColor</string>
		<string>$BorderDash</string>
		<string>$CallNumber</string>
		<string>$Caption</string>
		<string>$CaptionAlignment</string>
		<string>$CaptionColor</string>
		<string>$CaptionFont</string>
		<string>$CaptionOpacity</string>
		<string>$CaptionSize</string>
		<string>$Checked</string>
		<string>$ChildCount</string>
		<string>$ChosenWord</string>
		<string>$Citations</string>
		<string>$CitationSource</string>
		<string>$CleanupAction</string>
		<string>$ClusterTerms</string>
		<string>$CodeComment</string>
		<string>$CodeFont</string>
		<string>$Color</string>
		<string>$Color2</string>
		<string>$Container</string>
		<string>$Country</string>
		<string>$Created</string>
		<string>$CreatedFrom</string>
		<string>$Creator</string>
		<string>$CSS</string>
		<string>$CSSmono</string>
		<string>$CSSsans</string>
		<string>$CSSserif</string>
		<string>$Deck</string>
		<string>$DescendantCount</string>
		<string>$DEVONthinkGroup</string>
		<string>$DEVONthinkLabel</string>
		<string>$Direction</string>
		<string>$DisplayedAttributes</string>
		<string>$DisplayedAttributesDateFormat</string>
		<string>$DisplayedAttributesFont</string>
		<string>$DisplayedAttributesFontSize</string>
		<string>$DisplayExpression</string>
		<string>$DisplayExpressionDisabled</string>
		<string>$DisplayName</string>
		<string>$District</string>
		<string>$DOI</string>
		<string>$DominantLanguage</string>
		<string>$DueDate</string>
		<string>$Edict</string>
		<string>$EdictDisabled</string>
		<string>$Edition</string>
		<string>$Editor</string>
		<string>$Email</string>
		<string>$EndDate</string>
		<string>$EstimatedNoteSize</string>
		<string>$EvernoteNotebook</string>
		<string>$ExportChildrenIndividually</string>
		<string>$ExportedStringHTMLTemplate</string>
		<string>$ExportScriptPath</string>
		<string>$File</string>
		<string>$Fill</string>
		<string>$FillOpacity</string>
		<string>$Flags</string>
		<string>$FormattedAddress</string>
		<string>$FullName</string>
		<string>$GeocodedAddress</string>
		<string>$GridColor</string>
		<string>$GridColumns</string>
		<string>$GridLabelFont</string>
		<string>$GridLabels</string>
		<string>$GridLabelSize</string>
		<string>$GridOpacity</string>
		<string>$GridRows</string>
		<string>$Height</string>
		<string>$HideDisplayedAttributes</string>
		<string>$HideKeyAttributes</string>
		<string>$HideTitle</string>
		<string>$HoverExpression</string>
		<string>$HoverFont</string>
		<string>$HoverImage</string>
		<string>$HoverOpacity</string>
		<string>$HTMLBoldEnd</string>
		<string>$HTMLBoldStart</string>
		<string>$HTMLCloud1End</string>
		<string>$HTMLCloud1Start</string>
		<string>$HTMLCloud2End</string>
		<string>$HTMLCloud2Start</string>
		<string>$HTMLCloud3End</string>
		<string>$HTMLCloud3Start</string>
		<string>$HTMLCloud4End</string>
		<string>$HTMLCloud4Start</string>
		<string>$HTMLCloud5End</string>
		<string>$HTMLCloud5Start</string>
		<string>$HTMLDontExport</string>
		<string>$HTMLEntities</string>
		<string>$HTMLExportAfter</string>
		<string>$HTMLExportBefore</string>
		<string>$HTMLExportChildren</string>
		<string>$HTMLExportCommand</string>
		<string>$HTMLExportExtension</string>
		<string>$HTMLExportFileName</string>
		<string>$HTMLExportFileNameSpacer</string>
		<string>$HTMLExportPath</string>
		<string>$HTMLExportTemplate</string>
		<string>$HTMLFileNameLowerCase</string>
		<string>$HTMLFileNameMaxLength</string>
		<string>$HTMLFirstParagraphEnd</string>
		<string>$HTMLFirstParagraphStart</string>
		<string>$HTMLFont</string>
		<string>$HTMLFontSize</string>
		<string>$HTMLImageEnd</string>
		<string>$HTMLImageStart</string>
		<string>$HTMLIndentedParagraphEnd</string>
		<string>$HTMLIndentedParagraphStart</string>
		<string>$HTMLItalicEnd</string>
		<string>$HTMLItalicStart</string>
		<string>$HTMLLinkExtension</string>
		<string>$HTMLListEnd</string>
		<string>$HTMLListItemEnd</string>
		<string>$HTMLListItemStart</string>
		<string>$HTMLListStart</string>
		<string>$HTMLMarkDown</string>
		<string>$HTMLMarkupText</string>
		<string>$HTMLOrderedListEnd</string>
		<string>$HTMLOrderedListItemEnd</string>
		<string>$HTMLOrderedListItemStart</string>
		<string>$HTMLOrderedListStart</string>
		<string>$HTMLOrderedsListItemEnd</string>
		<string>$HTMLOverwriteImages</string>
		<string>$HTMLParagraphEnd</string>
		<string>$HTMLParagraphStart</string>
		<string>$HTMLPreviewCommand</string>
		<string>$HTMLQuoteHTML</string>
		<string>$HTMLStrikeEnd</string>
		<string>$HTMLStrikeStart</string>
		<string>$HTMLUnderlineEnd</string>
		<string>$HTMLUnderlineStart</string>
		<string>$ID</string>
		<string>$ImageCount</string>
		<string>$InboundLinkCount</string>
		<string>$IncludeChildren</string>
		<string>$IncludeChildrenWithParent</string>
		<string>$InteriorScale</string>
		<string>$IrisAngle</string>
		<string>$IrisRadius</string>
		<string>$IsAdornment</string>
		<string>$IsAlias</string>
		<string>$ISBN</string>
		<string>$IsComposite</string>
		<string>$IsMultiple</string>
		<string>$IsPrototype</string>
		<string>$Issue</string>
		<string>$IsTemplate</string>
		<string>$Journal</string>
		<string>$KeyAttributeDateFormat</string>
		<string>$KeyAttributeFont</string>
		<string>$KeyAttributeFontSize</string>
		<string>$KeyAttributes</string>
		<string>$Keywords</string>
		<string>$KnownForms</string>
		<string>$Language</string>
		<string>$LastFetched</string>
		<string>$Latitude</string>
		<string>$LeafBase</string>
		<string>$LeafBend</string>
		<string>$LeafDirection</string>
		<string>$LeafTip</string>
		<string>$LeftMargin</string>
		<string>$LineSpacing</string>
		<string>$LocalAttributes</string>
		<string>$Lock</string>
		<string>$Longitude</string>
		<string>$MapBackgroundAccentColor</string>
		<string>$MapBackgroundColor</string>
		<string>$MapBackgroundColor2</string>
		<string>$MapBackgroundFill</string>
		<string>$MapBackgroundFillOpacity</string>
		<string>$MapBackgroundPattern</string>
		<string>$MapBackgroundShadow</string>
		<string>$MapBodyTextColor</string>
		<string>$MapBodyTextSize</string>
		<string>$MapNameSize</string>
		<string>$MapScrollX</string>
		<string>$MapScrollY</string>
		<string>$MapTextSize</string>
		<string>$Modified</string>
		<string>$monofont</string>
		<string>$mt_allow_comments</string>
		<string>$mt_allow_pings</string>
		<string>$mt_convert_breaks</string>
		<string>$mt_keywords</string>
		<string>$MyBoolean</string>
		<string>$MyColor</string>
		<string>$MyDate</string>
		<string>$MyDictionary</string>
		<string>$MyInterval</string>
		<string>$MyList</string>
		<string>$MyNumber</string>
		<string>$MySet</string>
		<string>$MyString</string>
		<string>$Name</string>
		<string>$NameAlignment</string>
		<string>$NameBold</string>
		<string>$NameColor</string>
		<string>$NameFont</string>
		<string>$NameGRC</string>
		<string>$NameLeading</string>
		<string>$NamePT</string>
		<string>$NameStrike</string>
		<string>$NeverComposite</string>
		<string>$NLNames</string>
		<string>$NLOrganizations</string>
		<string>$NLPlaces</string>
		<string>$NLTags</string>
		<string>$NoSpelling</string>
		<string>$NoteID</string>
		<string>$NotesFolder</string>
		<string>$NotesID</string>
		<string>$NotesModified</string>
		<string>$NoteURL</string>
		<string>$OnAdd</string>
		<string>$OnJoin</string>
		<string>$OnRemove</string>
		<string>$OnVisit</string>
		<string>$Opacity</string>
		<string>$OpenConvertedFile</string>
		<string>$Organization</string>
		<string>$orientador</string>
		<string>$OutboundLinkCount</string>
		<string>$OutlineBackgroundColor</string>
		<string>$OutlineColorSwatch</string>
		<string>$OutlineDepth</string>
		<string>$OutlineNameSize</string>
		<string>$OutlineOrder</string>
		<string>$OutlineTextSize</string>
		<string>$Pages</string>
		<string>$PandocBibliography</string>
		<string>$PandocBibPath</string>
		<string>$PandocCSLPath</string>
		<string>$PandocDocxTemplate</string>
		<string>$PandocExportFolder</string>
		<string>$PandocExportTemplate</string>
		<string>$PandocFrom</string>
		<string>$PandocFromExtension</string>
		<string>$PandocLatexTemplate</string>
		<string>$PandocLinkCitations</string>
		<string>$PandocNumbered</string>
		<string>$PandocOpenAfterConversion</string>
		<string>$PandocPath</string>
		<string>$PandocPDFEngine</string>
		<string>$PandocRevealAfterConversion</string>
		<string>$PandocSideNotes</string>
		<string>$PandocTableofContents</string>
		<string>$PandocTemplatePath</string>
		<string>$PandocTo</string>
		<string>$PandocToExtension</string>
		<string>$PandocTopLevelDivision</string>
		<string>$PandocUseTemplate</string>
		<string>$ParagraphSpacing</string>
		<string>$PassageEnds</string>
		<string>$PassageStarts</string>
		<string>$Path</string>
		<string>$Pattern</string>
		<string>$PlainLinkCount</string>
		<string>$PlotBackgroundColor</string>
		<string>$PlotBackgroundOpacity</string>
		<string>$PlotColor</string>
		<string>$PlotColorList</string>
		<string>$PostalCode</string>
		<string>$Private</string>
		<string>$Prototype</string>
		<string>$PrototypeBequeathsChildren</string>
		<string>$PrototypeHighlightColor</string>
		<string>$PublicationCity</string>
		<string>$PublicationYear</string>
		<string>$Publisher</string>
		<string>$Range</string>
		<string>$RawData</string>
		<string>$ReadOnly</string>
		<string>$RefBook</string>
		<string>$RefChapter</string>
		<string>$ReferenceDictionary</string>
		<string>$ReferenceRIS</string>
		<string>$ReferenceTitle</string>
		<string>$ReferenceURL</string>
		<string>$RefFormat</string>
		<string>$RefGroup</string>
		<string>$RefKeywords</string>
		<string>$RefShortTitle</string>
		<string>$RefType</string>
		<string>$RefWork</string>
		<string>$Requirements</string>
		<string>$ResetAction</string>
		<string>$RevealConvertedFile</string>
		<string>$RightMargin</string>
		<string>$Role</string>
		<string>$Rule</string>
		<string>$RuleDisabled</string>
		<string>$RunPandocOnExport</string>
		<string>$ScrivenerID</string>
		<string>$ScrivenerKeywords</string>
		<string>$ScrivenerLabel</string>
		<string>$ScrivenerLabelID</string>
		<string>$ScrivenerNote</string>
		<string>$ScrivenerStatus</string>
		<string>$ScrivenerStatusID</string>
		<string>$ScrivenerType</string>
		<string>$Searchable</string>
		<string>$SelectionCount</string>
		<string>$Sentiment</string>
		<string>$Sentiments</string>
		<string>$Separator</string>
		<string>$Shadow</string>
		<string>$ShadowBlur</string>
		<string>$ShadowColor</string>
		<string>$ShadowDistance</string>
		<string>$Shape</string>
		<string>$ShowTitle</string>
		<string>$SiblingOrder</string>
		<string>$SimplenoteKey</string>
		<string>$SimplenoteModified</string>
		<string>$SimplenoteSync</string>
		<string>$SimplenoteTags</string>
		<string>$SimplenoteVersion</string>
		<string>$SmartQuotes</string>
		<string>$Sort</string>
		<string>$SortAlso</string>
		<string>$SortAlsoTransform</string>
		<string>$SortBackward</string>
		<string>$SortBackwardAlso</string>
		<string>$SortTransform</string>
		<string>$SourceCreated</string>
		<string>$SourceModified</string>
		<string>$SourceURL</string>
		<string>$StartDate</string>
		<string>$State</string>
		<string>$Sticky</string>
		<string>$Subtitle</string>
		<string>$SubtitleColor</string>
		<string>$SubtitleOpacity</string>
		<string>$SubtitleSize</string>
		<string>$SyntaxHighlighting</string>
		<string>$TableExpression</string>
		<string>$TableHeading</string>
		<string>$Tabs</string>
		<string>$Tags</string>
		<string>$TargetPrototype</string>
		<string>$Telephone</string>
		<string>$Text</string>
		<string>$TextAlign</string>
		<string>$TextBackgroundColor</string>
		<string>$TextColor</string>
		<string>$TextExportTemplate</string>
		<string>$TextFont</string>
		<string>$TextFontSize</string>
		<string>$TextLength</string>
		<string>$TextLinkCount</string>
		<string>$TextPaneRatio</string>
		<string>$TextPaneWidth</string>
		<string>$TextSidebar</string>
		<string>$TextWindowHeight</string>
		<string>$TextWindowWidth</string>
		<string>$TimelineAliases</string>
		<string>$TimelineBand</string>
		<string>$TimelineBandLabelColor</string>
		<string>$TimelineBandLabelOpacity</string>
		<string>$TimelineBandLabels</string>
		<string>$TimelineColor</string>
		<string>$TimelineDescendants</string>
		<string>$TimelineEnd</string>
		<string>$TimelineEndAttribute</string>
		<string>$TimelineGridColor</string>
		<string>$TimelineMarker</string>
		<string>$TimelineScaleColor</string>
		<string>$TimelineScaleColor2</string>
		<string>$TimelineStart</string>
		<string>$TimelineStartAttribute</string>
		<string>$Tip</string>
		<string>$TitleBackgroundColor</string>
		<string>$TitleFont</string>
		<string>$TitleForegroundColor</string>
		<string>$TitleHeight</string>
		<string>$TitleOpacity</string>
		<string>$titulacao</string>
		<string>$TlgAuthor</string>
		<string>$TlgWork</string>
		<string>$Tot</string>
		<string>$TranslationDE</string>
		<string>$TranslationEL</string>
		<string>$TranslationEN</string>
		<string>$TranslationFR</string>
		<string>$TranslationLA</string>
		<string>$TranslationPT</string>
		<string>$Translator</string>
		<string>$Twitter</string>
		<string>$Type</string>
		<string>$UpdatePreviewNow</string>
		<string>$UpdateTextLinksAfterRename</string>
		<string>$URL</string>
		<string>$UseExportedString</string>
		<string>$UUID</string>
		<string>$ViewInBrowser</string>
		<string>$Visits</string>
		<string>$Volume</string>
		<string>$WatchFolder</string>
		<string>$WebLinkCount</string>
		<string>$WeblogPostID</string>
		<string>$Width</string>
		<string>$WordCount</string>
		<string>$Xpos</string>
		<string>$Ypos</string>
		<string>$Ziplinks</string>
		<string>adornment</string>
		<string>agent</string>
		<string>alias</string>
		<string>child</string>
		<string>cover</string>
		<string>current</string>
		<string>destination</string>
		<string>firstSibling</string>
		<string>grandparent</string>
		<string>lastChild</string>
		<string>lastSibling</string>
		<string>next</string>
		<string>nextSibling</string>
		<string>original</string>
		<string>parent</string>
		<string>previous</string>
		<string>prevSibling</string>
		<string>randomChild</string>
		<string>source</string>
		<string>that</string>
		<string>this</string>
			
	</array>

	<!-- Comments -->
	<key>BBLMCommentLineDefault</key>
	<string>//</string>
	<key>BBLMCommentPrefixDefault</key>
	<string>/*</string>
	<key>BBLMCommentSuffixDefault</key>
	<string>*/</string>	
	
	<key>Language Features</key>
	<dict>
		<key>Identifier and Keyword Character Class</key>
		<string>!$%&*+.,;/()<;=>?^~0-9A-Z_a-zÄÅÁÀÂÃÇÉÈÊËÑÖØÓÒÔÕÜÚÙÛÍÌÎÏÆŒäåáàâãçéèêëñöøóòôõüúùûíìîïæœÿß@:-</string>
		<key>Open Line Comments</key>
		<string>//</string>
		<key>Prefix for Functions</key>
		<string>on </string>
		<key>Prefix for Procedures</key>
		<string>on </string>
		<key>Open Parameter Lists</key>
		<string>(</string>
		<key>Close Parameter Lists</key>
		<string>)</string>
		<key>Open Strings 1</key>
		<string>"</string>
		<key>Close Strings 1</key>
		<string>"</string>

		<key>String Pattern</key>
		<string><![CDATA[
			(?x:
				("	(?s: \\. | [^"])*?	(?: " | $)) |
				('	(?s: \\' | [^'])*?	(?: ' | $))
			)]]>
		</string>
		
		<key>Comment Pattern</key>
		<string><![CDATA[
				(?x:
						(\-\-.*$)		 | (?# Line comment)
						(\#.*$)          | (?# Line comment)
						(?s:\(\*.*?\*\))   (?# Block comment)
				)]]>
		</string>
		
		<key>Skip Pattern</key>
		<string><![CDATA[
			(?x:
					(?P>comment) |
					(?P>string)
			)]]>
		</string>

		<key>Function Pattern</key>
		<string><![CDATA[
			(?x:
				(?P<function>
					^on(?:(?>(?>\s+)))+
					(?P<function_name>
						(?P<identifier>([a-zA-Z_][a-zA-Z0-9_]*)+)
					)
					(?P<braces>
						(?:.*\r)*?
						end(?:(?>(?>\s+)))+(?P>identifier)
					)
				)
			)]]>
		</string>
	</dict> 
</dict>
</plist>